@charset "UTF-8";
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #FFFACD;
  background-color: #FF6347;
  margin: 0;
}

header {
  margin: 20px 0;
}

h1, h2, h3 {
  font-family: "Rubik Moonrocks", sans-serif;
  font-weight: normal;
  color: #FFD700;
}

h1 {
  text-align: center;
  font-size: 58px;
  margin: 0;
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 30px;
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.btn {
  background: #FFD700;
  border: none;
  padding: 15px 30px;
  font-size: 22px;
  font-family: "Rubik Moonrocks", sans-serif;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 15px;
  box-shadow: 6px 6px 11px #cf503a, -6px -6px 11px #ff7654;
}
.btn:hover {
  box-shadow: 0 0 0 0;
}

.pizza-configurator {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin: 20px 0;
}
.pizza-configurator h2 {
  margin: 0;
}

.pizza-summary {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pizza-details, .pizza-form, h1, .pizza-preview {
  padding: 30px;
  border-radius: 15px;
  background: #FF6347;
  box-shadow: inset 5px 5px 10px #cf503a, inset -5px -5px 10px #ff7654;
}

.pizza-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.pizza-form input[type=radio], .pizza-form input[type=checkbox] {
  accent-color: #FFD700;
  height: 15px;
  width: 15px;
}
.pizza-form label {
  display: inline-block;
  padding: 5px 0;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
.pizza-form label:hover {
  color: #FFD700;
}
.pizza-form input[name=toppings]:checked + label {
  animation: pop 0.3s linear 1;
}
.pizza-form #pineapple:checked ~ label::after {
  content: "Don't you dare.";
  font-size: 8px;
  display: inline-block;
  margin-left: 5px;
}
.pizza-form .pizza-crust label, .pizza-form fieldset legend, .pizza-form .pizza-name label {
  display: block;
  font-family: "Rubik Moonrocks", sans-serif;
  color: #FFD700;
  font-size: 28px;
  margin-bottom: 10px;
}
.pizza-form input#pizza-name, .pizza-form select {
  background: none;
  border: 2px solid #FFD700;
  padding: 15px 30px;
  display: block;
  width: 100%;
  color: #FFFACD;
  border-radius: 15px;
  font-size: inherit;
  font-family: inherit;
}
.pizza-form .select-wrap {
  position: relative;
}
.pizza-form .select-wrap::after {
  content: "⤦";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 30px;
}
.pizza-form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.pizza-form #pizza-name::placeholder {
  color: inherit;
}

.pizza-preview h2 {
  text-align: center;
  margin: 0;
  font-size: 24px;
}
.pizza-preview .custom-pizza-name {
  color: #000;
  text-align: center;
  margin: 10px 0;
  font-size: 46px;
  font-family: "Rubik Moonrocks", sans-serif;
  word-break: break-word;
}
.pizza-preview .pizza-render {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: orange;
  margin: 20px auto;
  position: relative;
  transition: all 0.3s ease-in-out;
}
.pizza-preview .crust {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: none;
  border: 15px solid orange;
  border-radius: 50%;
  transition: border-color 0.3s ease-in-out;
}
.pizza-preview .sauce {
  position: absolute;
  top: 10px;
  right: 10px;
  left: 10px;
  bottom: 10px;
  border-radius: 50%;
  background: orange;
  transition: background-color 0.3s ease-in-out;
}
.pizza-preview .toppings {
  position: absolute;
  top: 10px;
  right: 10px;
  left: 10px;
  bottom: 10px;
  border-radius: 50%;
  background: none;
  transition: background-color 0.3s ease-in-out;
}
.pizza-preview .toppings i {
  font-size: 36px;
  position: absolute;
  transition: all 0.3s ease-in-out;
  display: block;
  animation: pop 0.3s linear 1;
  font-style: normal;
}
.pizza-preview .toppings i::before {
  transform: translate(65px, 40px);
}
.pizza-preview .toppings i::after {
  transform: translate(-5px, 40px);
}
.pizza-preview .toppings i::after, .pizza-preview .toppings i::before {
  display: block;
}
.pizza-preview .toppings i.mozzarella {
  left: 80px;
  top: -50px;
}
.pizza-preview .toppings i.mozzarella::after, .pizza-preview .toppings i.mozzarella::before {
  content: "🧀";
}
.pizza-preview .toppings i.mozzarella::before {
  transform: translate(75px, 110px);
}
.pizza-preview .toppings i.cheddar {
  top: 30px;
  right: 60px;
}
.pizza-preview .toppings i.cheddar::after, .pizza-preview .toppings i.cheddar::before {
  content: "🧀";
}
.pizza-preview .toppings i.cheddar::before {
  transform: translate(-115px, -10px);
}
.pizza-preview .toppings i.parmesan {
  left: 30px;
  top: 40px;
}
.pizza-preview .toppings i.parmesan::after, .pizza-preview .toppings i.parmesan::before {
  content: "🧀";
}
.pizza-preview .toppings i.parmesan::before {
  transform: translate(5px, -10px);
}
.pizza-preview .toppings i.bacon {
  right: 80px;
  bottom: 90px;
}
.pizza-preview .toppings i.bacon::after, .pizza-preview .toppings i.bacon::before {
  content: "🥓";
}
.pizza-preview .toppings i.bacon::before {
  transform: translate(-25px, -30px);
}
.pizza-preview .toppings i.mushrooms {
  top: -40px;
  left: 4px;
}
.pizza-preview .toppings i.mushrooms::after, .pizza-preview .toppings i.mushrooms::before {
  content: "🍄";
}
.pizza-preview .toppings i.mushrooms::before {
  transform: translate(135px, 180px);
}
.pizza-preview .toppings i.pickles {
  top: 10px;
  right: 100px;
}
.pizza-preview .toppings i.pickles::after, .pizza-preview .toppings i.pickles::before {
  content: "🥒";
}
.pizza-preview .toppings i.pickles::before {
  transform: translate(-65px, 3px);
}
.pizza-preview .toppings i.olives {
  top: 10px;
  right: 70px;
}
.pizza-preview .toppings i.olives::after, .pizza-preview .toppings i.olives::before {
  content: "🫒";
}
.pizza-preview .toppings i.pineapple {
  top: 20px;
  right: 150px;
}
.pizza-preview .toppings i.pineapple::after, .pizza-preview .toppings i.pineapple::before {
  content: "🍍";
}
.pizza-preview .toppings i.pineapple::before {
  transform: translate(115px, -10px);
}
.pizza-preview .toppings i.chocolate {
  bottom: 50px;
  left: 20px;
}
.pizza-preview .toppings i.chocolate::after, .pizza-preview .toppings i.chocolate::before {
  content: "🍫";
}
.pizza-preview .toppings i.chocolate::before {
  transform: translate(66px, -31px);
}
.pizza-preview .toppings i.gold {
  bottom: 27px;
  left: 90px;
}
.pizza-preview .toppings i.gold::after, .pizza-preview .toppings i.gold::before {
  content: "🏆";
}
.pizza-preview .toppings i.gold::before {
  transform: translate(55px, -61px);
}
.pizza-preview .crust.classic {
  border-color: #ff8800;
}
.pizza-preview .crust.thin {
  border: 10px solid #fd9c2c;
}
.pizza-preview .crust.stuffed {
  border: 20px solid #d67300;
}
.pizza-preview .crust.gluten-free {
  border-color: #bd9465;
}
.pizza-preview .sauce.tomato {
  background: tomato;
}
.pizza-preview .sauce.alfredo {
  background: #d3c1ac;
}
.pizza-preview .sauce.bbq {
  background: #a52a2a;
}
.pizza-preview .sauce.pesto {
  background: #228B22;
}

.pizza-container {
  position: relative;
}
.pizza-container .alt-pizza {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.8s ease-in-out;
  opacity: 0;
}
.pizza-container .alt-pizza img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pizza-container .alt-pizza.oh-no {
  opacity: 1;
}

@keyframes pop {
  50% {
    transform: scale(1.2);
  }
}
@media screen and (max-width: 768px) {
  .pizza-configurator {
    grid-template-columns: 1fr;
  }
  h1 {
    font-size: 48px;
  }
}
@media screen and (max-width: 450px) {
  .pizza-preview .pizza-render {
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
  }
  h1 {
    font-size: 32px;
  }
}

/*# sourceMappingURL=style.css.map */
